.homepage {
  background: #362264b5;
}

.homepage .static_frame {
  width: 100%;
  background: #362264b5;
}

.homepage .static_frame .restaurant_avatars_wrapper {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.homepage .static_frame .restaurant_avatars_wrapper .restaurant_avatars {
  width: 150px;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static_frame .restaurant_avatars_wrapper .restaurant_avatars img {
  width: 150px;
  height: 150px;
  border-radius: 15%;
}

.homepage .static_frame .restaurant_avatars span {
  margin-top: 14px;
  font-family: "Solway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fffcfc;
}

.homepage .personage_img.left {
  width: 204px;
  height: 200px;
  background: url("/public/home/papay.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .personage_img.right {
  width: 204px;
  height: 200px;
  background: url("/public/home/papay.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #fbfbfb;
}

.homepage .static_box .static_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fbfbfb;
}

.homepage .top_restaurant_frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #362264b5;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  padding: 15px;
  border-radius: 15px;
  line-height: 42px;
  background: #755bb4;
  border: solid 2px #755bb4;
  color: rgb(255, 255, 255);
}

.homepage .best_restaurant_frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #362264b5;
}

.homepage .ads_restaurant_frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px -62px 60px 20px rgb(217 217 217 / 40%);
  margin-top: 186px;
  background-color: #956dd3;
}

.homepage .ads_video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}

.homepage .events_frame {
  margin-top: 45px;
  width: 100%;
  height: 700px;
  display: flex;
  overflow: "hidden";
}

.homepage .events_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .events_main .events_text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .events_main .prev_next_frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 24px;
  margin-left: 901px;
  margin-top: 19px;
}

.homepage .dot_frame_pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events_main .events_info {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events_info .events_info_frame {
  position: relative;
  width: 579px;
  height: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events_img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .events_desc {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #ffffff;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 8px;
}

.homepage .events_desc .events_bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .events_desc .events_bott .bott_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .bott_left .event_title_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .event_title_speaker .event_organizator {
  display: flex;
  align-items: center;
}

.homepage .event_organizator .spec_text_author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .bott_left .text_desc {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .bott_left .bott_info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .bott_info .bott_info_main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #ffffff;
  border-radius: 50%;
}
.homepage .swiper-pagination-bullet-active {
  background: #007aff;
  border-radius: 50%;
}

.homepage .nickname {
  font-family: "Arial Black";
  font-style: normal;
  font-weight: 20;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: rgb(17, 44, 97);
}

.homepage .top_article_frame {
  width: 100%;
  height: auto;
  display: flex;
  background: #362264b5;
}

.homepage .article_main {
  margin-top: 32px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage .article_main .article_container {
  width: 568px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .article_main .article_category {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 44px;

  color: #ffffff;
}

.homepage .article_container .article_box {
  margin-top: 18px;
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  background: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.homepage .article_container .article_news {
  width: 100%;
  border-radius: 20px;
  height: 380px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  /* box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 4px 40px rgba(83, 38, 208, 0.25);
}

.homepage .article_box .article_img {
  width: 150px;
  height: 153px;
  border-radius: 0px;
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
}

.homepage .article_box .article_info {
  padding: 10px 0px;
  width: 318px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.homepage .article_info .article_main_info {
  width: 92%;
  height: 95%;
}

.homepage .article_main_info .article_author {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage .article_author .author_username {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.homepage .article_main_info .article_title {
  margin-top: 18px;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #e3c08d;
}

.homepage .article_main_info .article_desc {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #808080;
}

.homepage .personage_img.right {
  margin-right: -40px;
  width: 400px;
  height: 200px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  background: url("/public/home/papay.png");
  background-size: cover;
}

.homepage .personage_img.left {
  margin-left: -40px;
  width: 400px;
  height: 200px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: url("/public/home/papay.png");
  background-size: cover;
}

.top_restaurant_frame .dish_box {
  margin-top: 20px;
  margin-right: 15px;
  width: 275px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px white; */
  border-radius: 15px;
  /* background-color: white; */
  /* background-color: #eae8e8; */
}

.top_restaurant_frame .dish_box .dish_img {
  position: relative;
  width: 285px;
  height: 400px;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}

.top_restaurant_frame .dish_box .dish_desc {
  width: 275px;
  display: flex;
  height: 130px;
  padding-left: 10px;
  border-radius: 0px 0px 15px 15px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  background-color: #eae8e8;
}

.top_restaurant_frame .dish_desc .review_stars {
  margin-top: 2px;
  width: 150px;
  height: 20px;
  margin-left: -4px;
}

.top_restaurant_frame .restaurant_avatars_wrapper {
  width: 100%;
  height: 480px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.homepage .static_frame .restaurant_avatars_wrapper {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.top_restaurant_frame .dish_box .dish_desc .dish_title_text {
  margin-top: 2px;
  font-family: "tahoma";
  font-style: normal;
  font-weight: 250;
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  box-sizing: border-box;
  overflow: hidden;
  /* color: #130a64; */
  color: #264d89;
}

.top_restaurant_frame .dish_desc .dish_desc_text {
  /* margin-top: 5px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #85139e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top_restaurant_frame .dish_img:before {
  border-radius: 15px;
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease transform 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transform: scale(1.2);
}

.top_restaurant_frame .dish_img:hover:before {
  border-radius: 15px;
  opacity: 0;
  transform: scale(1.2);
}

.top_restaurant_frame .dish_img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.top_restaurant_frame .view_btn {
  position: absolute;
  padding: 20px;

  top: 294px;
  width: 64px;
  height: 46px;
  left: 114px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgb(198 0 255 / 66%);
  border: 2px solid #d7b686;
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;

  color: #e4ef0e;
}

.top_restaurant_frame .dish_img:hover .view_btn {
  opacity: 1;
}

.top_restaurant_frame .like_view_btn {
  position: absolute;
  top: 300px;
  padding: 5px;
  min-width: 40px;
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.top_restaurant_frame .dish_img:hover .like_view_btn {
  opacity: 1;
}

.top_restaurant_frame .ordered {
  width: 163px;
  height: 50px;
  top: 11px;
  margin-left: 55px;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */

  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: none;
  border: 2px solid #755bb4;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #755bb4;
}

/* .top_restaurant_frame .dish_img:hover .ordered {
  opacity: 1;
  cursor: pointer;
} */

/* // bestProducts */

.best_restaurant_frame .dish_box {
  margin-top: 20px;
  margin-right: 15px;
  width: 275px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 1px white; */
  border-radius: 15px;
  /* background-color: white; */
  /* background-color: #eae8e8; */
}

.best_restaurant_frame .dish_box .dish_img {
  position: relative;
  width: 285px;
  height: 400px;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}

.best_restaurant_frame .dish_box .dish_desc {
  width: 275px;
  display: flex;
  height: 130px;
  padding-left: 10px;
  border-radius: 0px 0px 15px 15px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  background-color: #eae8e8;
}

.best_restaurant_frame .dish_desc .review_stars {
  margin-top: 2px;
  width: 150px;
  height: 20px;
  margin-left: -4px;
}

.best_restaurant_frame .restaurant_avatars_wrapper {
  width: 100%;
  height: 480px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
/* .best_restaurant_frame .restaurant_avatars_wrapper {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
} */
.best_restaurant_frame .dish_box .dish_desc .dish_title_text {
  margin-top: 2px;
  font-family: "tahoma";
  font-style: normal;
  font-weight: 240;
  font-size: 18px;
  line-height: 24px;
  height: 48px;
  box-sizing: border-box;
  overflow: hidden;
  /* color: #130a64; */
  color: #264d89;
}

.best_restaurant_frame .dish_desc .dish_desc_text {
  /* margin-top: 5px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #85139e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.best_restaurant_frame .dish_img:before {
  border-radius: 15px;
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease transform 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transform: scale(1.2);
}

.best_restaurant_frame .dish_img:hover:before {
  border-radius: 15px;
  opacity: 0;
  transform: scale(1.2);
}

.best_restaurant_frame .dish_img img {
  position: absolute;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.best_restaurant_frame .view_btn {
  position: absolute;
  padding: 20px;
  top: 294px;
  width: 64px;
  height: 46px;
  left: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgb(198 0 255 / 66%);
  border: 2px solid #d7b686;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
}

.best_restaurant_frame .dish_img:hover .view_btn {
  opacity: 1;
}

.best_restaurant_frame .like_view_btn {
  position: absolute;
  top: 300px;
  padding: 5px;
  min-width: 40px;
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.best_restaurant_frame .dish_img:hover .like_view_btn {
  opacity: 1;
}
