.homepage {
  background: #0b0e11;
}

.homepage .static_frame {
  width: 100%;
  background: #2c261e;
}

.homepage .personage_img.left {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays\ 1.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .personage_img.right {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays\ 1.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #ffffff;
}

.homepage .static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

.homepage .top_restaurant_frame {
  width: 100%;
  height: 605px;
  display: flex;
  background: #0b0e11;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e3c08d;
}

.homepage .best_restaurant_frame {
  width: 100%;
  height: 775px;
  display: flex;
  background: #0b0e11;
}

.homepage .best_dishes_frame {
  width: 100%;
  height: 462px;
  display: flex;
  margin-top: 72px;
}

.homepage .dish_box {
  margin-right: 26px;
  width: 273px;
  height: 376px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .dish_box .dish_img {
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.homepage .dish_img .dish_sale {
  margin-top: 43px;
  width: 77px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8be69;
  box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 50px 50px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.homepage .view_btn {
  width: 163px;
  height: 50px;
  margin-top: 31px;
  margin-left: 55px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(28, 23, 23, 0.59);
  border: 2px solid #b48b50;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.homepage .dish_img:hover .view_btn {
  opacity: 1;
}

.homepage .dish_box .dish_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .dish_desc .dish_title_text {
  margin-top: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #d1d1d1;
}

.homepage .dish_desc .dish_desc_text {
  margin-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #e3c08d;
}

.homepage .ads_restaurant_frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px -62px 60px 20px rgba(217 217 217 / 40%);
  margin-top: 186px;
  background-color: #956dd3;
}

.homepage .ads_video {
  width: 100%;
  height: 693px;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgba(215 215 215);
  transform: scale(1.5);
  overflow: hidden;
}

.homepage .event_frame {
  margin-top: 45px;
  width: 100%;
  height: 700px;
  display: flex;
  overflow: hidden;
}

.homepage .event_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .event_main .event_text {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .event_main .prev_next_frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 24px;
  margin-left: 901px;
  margin-top: 19px;
}

.homepage .dot_frame_pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .event_main .event_info {
  margin-top: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .event_main .event_info_frame {
  position: relative;
  width: 579px;
  height: 447px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .event_img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .event_desc {
  position: absolute;
  padding: 10px;
  display: flex;
  width: 90%;
  height: auto;
  bottom: 5px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
}

.homepage .event_desc .event_bott {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homepage .event_desc .event_bott .bott_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homepage .bott_left .event_title_speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .event_title_speaker .event_organizator {
  display: flex;
  align-items: center;
}
.homepage .event_organizator .spec_text_author {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  line-height: 34px;
  color: #140342;
}

.homepage .bott_left .text_desc {
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #4f547b;
}

.homepage .bott_left .bott_info {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.homepage .bott_info .bott_info_main {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
  height: 100%;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4f547b;
}

.homepage .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #ffffff;
  border-radius: 50%;
}

.homepage .swiper-pagination-bullet-active {
  background: #007aff;
  border-radius: 50%;
}
