.order_page {
  width: 100%;
  height: auto;
  background: #0b0e11;
  display: flex;
  flex-direction: row;
}

.order_page .order_left {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.order_page .order_right {
  margin-top: 136px;
  margin-left: 30px;
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #ffffff; */
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  border-radius: 16px;
}

.order_page .order_right .order_info_box {
  padding: 20px;
  width: 372px;
  height: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  border-radius: 16px;
}

.order_page .order_info_box .order_user_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order_page .order_user_avatar {
  position: relative;
  align-items: center;

  width: 117px;
  height: 112px;
  margin-top: 21px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 37px;
}

.order_page .order_user_name {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #08090d;
}

.order_page .user {
  position: relative;
  margin-top: -40px;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 37px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #a1a1a1;
}

.order_page .order_right .order_form_box {
  padding: 20px;
  width: 372px;
  height: 251px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  border-radius: 16px;
}

.order_page .order_form_box .card_number {
  margin-top: 10px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order_page .order_form_box .date_cvv {
  width: 332px;
  height: 40px;
  margin-top: 10px;
}

.order_page .order_form_box .expire_date,
.cvv_number {
  width: 162px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  padding-left: 35px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order_page .order_form_box .user_name {
  margin-top: 10px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order_page .order_form_box .payment_brands {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.order_page .order_form_box .brands_avatars {
  position: relative;
  width: 50px;
  height: 45px;
  margin-right: 20px;
  border: 0.5px solid #527cc6;
  border-radius: 10px;
  cursor: pointer;
}

.order_page .order_main_box {
  width: 821px;
  height: 284px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  position: relative;
  margin-top: 25px;
}

/* .order_page .order_main_box .order_box_scroll {
  width: 821px;
  height: 233px;
  background: #6e3939;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} */

.order_page .orderDishImg {
  width: 40px;
  position: relative;
  height: 40px;
  margin-top: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 29px;
}

.order_page .ordersName_price .titleDish {
  position: relative;
  margin-left: 25px;
  width: 300px;
  height: 36px;

  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  /* identical to box height, or 164% */

  color: #000000;
}

.order_page .ordersName_price {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: -35px;
}

.order_page .priceBox {
  display: flex;
  flex-direction: row;
  width: 174px;
  height: 33px;
  position: relative;
}

.order_page .priceBox img {
  width: 18px;
  height: 18px;
  margin-top: 25px;
  margin-left: 15px;
  position: relative;
  color: #000000;
}

.order_page .priceBox p {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.order_page .order_main_box .boxTotal {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order_page .order_main_box .boxTotal p {
  position: relative;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 25px;

  color: #000000;
}

.order_page .order_main_box .total_price_box_gray {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 60px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: rgba(85, 78, 78, 0.5);
}
