.order_page {
  width: 100%;
  min-height: 700px;
  height: auto;
  background: #251942f5;
  display: flex;
}

.order_page .order_card {
  width: 80%;
  /* background-color: #ffffff; */
  height: auto;
  margin-left: 95px;
  align-items: center;
  border-radius: 15px;
}

.order_page .order_left {
  width: 80%;
  height: auto;
  margin-left: 120px;
  align-items: center;
}

.order_page .order_card_full {
  margin-top: 20px;
  margin-left: 40px;
  width: 450px;
  height: 800px;
  border-radius: 20px;
  background: #3b3e91;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.order_page .card_details {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.order_page .card_details p {
  width: 150px;
  height: 33px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #fefcfc;
}

.order_page .card_details img {
  width: 100px;
  height: 140px;
  border-radius: 8px;
}

.order_page .card_name {
  width: 138px;
  margin-left: 20px;
  height: 21px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fefcfc;
}

.order_page .card_images {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order_page .card_type {
  margin-top: 24px;
  width: 94px;
  margin-left: 20px;
  height: 22px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fefcfc;
}
.order_page .card_name {
  margin-top: 24px;
  width: 138px;
  margin-left: 20px;
  height: 22px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.order_page .card_input {
  margin-top: 10px;
  width: 400px;
  margin-left: 20px;
  height: 40px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-left: 15px;
  border-radius: 6px;
}

.order_page .card_half {
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order_page .card_half_input {
  width: 190px;
  height: 40px;
  font-family: "Nunito";
  margin-left: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-left: 15px;
  border-radius: 6px;
}

.order_page .card_half_input_2 {
  width: 190px;
  height: 40px;
  font-family: "Nunito";
  margin-left: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-left: 15px;
  border-radius: 6px;
}

.order_page .card_name_2 {
  margin-top: 24px;
  width: 138px;
  margin-left: 100px;
  height: 22px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fefcfc;
}

.order_page .line {
  margin-top: 50px;
  width: 400px;
  margin-left: 20px;
}

.order_page .card_details_2 {
  /* margin-top: 27px; */
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.order_page .card_details_2 p {
  width: 150px;
  height: 33px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fefcfc;
}

.order_page .card_details_3 {
  margin-top: -40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.order_page .card_details_3 p {
  width: 150px;
  height: 33px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fefcfc;
}

.order_page .button_payment {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  border: 1px solid white;
  background-color: #2ea88d;
  border-radius: 15px;
  width: 400px;
  height: 60px;
  color: #fefcfc;
}

.order_page .button_payment p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fefcfc;
}

/* 
.order_page .order_right .order_info_box {
  padding: 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  border-radius: 16px;
}

.order_page .order_info_box .order_user_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order_page .order_info_box .order_user_img .order_user_avatar {
  width: 117px;
  height: 112px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 37px;
}

.order_page .order_info_box .order_user_icon_box {
  position: absolute;
  padding: 5px;
  width: 30px;
  height: 30px;
  top: 81%;
  right: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 37px;
}

.order_page .order_user_icon_box .order_user_prof_img {
  filter: brightness(0) invert(1);
}

.order_page .order_info_box .order_user_name {
  margin-top: 10px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #08090d;
}

.order_page .order_info_box .order_user_prof {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #a1a1a1;
}

.order_page .order_info_box .order_user_address {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.order_page .order_info_box .spec_address_txt {
  margin-left: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #616164;
}

.order_page .order_info_box .card_input {
  margin-top: 10px;
  padding: 10px;
  width: 350px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order_page .order_info_box .card_half_input {
  margin-top: 10px;
  padding: 10px;
  width: 171px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 10px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 0.5px solid #b3a6a6;
  letter-spacing: -0.02em;
  color: #434141;
}

.order_page .order_info_box .cards_box {
  margin-top: 35px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.order_page .order_info_box .cards_box img {
  margin-top: 5px;
  width: 80%;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order_page .order_info_box .css-wca78v-MuiButtonBase-root-MuiButton-root {
  min-width: 160px;
} */

.order_page .order_left .order_nav_frame {
  width: 100%;
  height: 60px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.order_page .order_left .tab_font {
  text-align: start;
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #e3c08d;
}

.order_page .css-1gsv261 {
  width: 75%;
}

.order_page .css-heg063-MuiTabs-flexContainer {
  justify-content: space-between;
}
.order_page .order_main_content {
  width: 100%;
  height: auto;
}

.order_page .css-19kzrtu {
  padding-top: 24px;
}

.order_page .order_main_content .order_main_box {
  position: relative;
  width: 100%;
  max-height: 310px;
  margin-bottom: 45px;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 16px rgba(242, 189, 87, 0.04);
  border-radius: 15px;
}

.order_page .order_main_content .order_main_box .order_box_scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 260px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.order_page .order_box_scroll .ordersName_price {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5px;
  margin-left: 40px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order_page .order_box_scroll .ordersName_price .orderDishImg {
  position: relative;
  width: 80px;
  height: 82px;
  border-radius: 8px;
  border: 1px solid wheat;
  background-size: cover;
}

.order_page .order_box_scroll .ordersName_price .titleDish {
  position: relative;
  width: 500px;
  height: 36px;
  margin-left: 40px;
  text-align: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.order_page .order_box_scroll .ordersName_price .priceBox {
  position: relative;
  max-width: 170px;
  height: 100%;
  margin-left: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.order_page .order_box_scroll .ordersName_price .priceBox p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #262626;
}

.order_page .order_main_content .order_main_box .total_price_box {
  position: relative;
  width: 100%;
  height: 41px;
  margin-top: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
}

.black_solid {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #000000;
  background: #b7a7a7;
}

.blue_solid {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #00a9ff;
  /* background: rgb(140 102 242 / 81%); */
  background: #b7a7a7;
}

.red_solid {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #ff5757;
  /* background: rgb(255 52 52); */
  background: #b7a7a7;
}

.order_page .order_main_content .order_main_box .total_price_box .boxTotal {
  position: relative;
  max-width: 900px;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order_page .total_price_box .boxTotal p {
  margin-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #041943;
}

.order_page .total_price_box .boxTotal .data_compl {
  /*margin-left: 20px;*/
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  /* or 257% */
  color: #000000;
}
